includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: argument.templateType
