.yard-query-inspector-label{margin-top:.75rem !important;margin-bottom:.25rem !important}.yard-query-inspector-label+div{margin-bottom:.75rem !important}
.block-editor-list-view-leaf.is-selected .block-editor-block-icon{color:currentColor !important}
