.yard-query-inspector-label {
	margin-top: 0.75rem !important;
	margin-bottom: 0.25rem !important;

	+ div {
		margin-bottom: 1.5rem !important;
	}
}

.yard-async-sortable-select__multi-value {
	&__wrapper {
		width: 100%;

		&[aria-pressed='true'] {
			z-index: 1;
		}
	}

	&__label {
		flex-grow: 1;
	}
}
