.yard-query-inspector-label {
	margin-top: 0.75rem !important;
	margin-bottom: 0.25rem !important;

	+ div {
		margin-bottom: 1.5rem !important;
	}
}

.yard-sortable-select__multi-value__wrapper {
	width: 100%;

	.yard-sortable-select__multi-value__label {
		flex-grow: 1;
	}
}
